[MASTER]
extension-pkg-whitelist=numpy,torch,datetime
disable=C0114,C0115,C0116

[TYPECHECK]
ignored-modules=numpy,torch,datetime
ignored-classes=numpy,torch,datetime

[VARIABLES]
allowed-redefined-builtins=input